* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 10vh;
    width: 100 vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo {
    height: 6vh;
    transform: translate(-150px)
        /* transform: translateY(6px); */
}

.dropdown {
    justify-self: flex-end;
    height: 35px;
    width: 130px;
    border-radius: 5px;
    background-color: black;
    color: white;
    opacity: 0.8;
    font-size: medium;


}

.box {
    height: 98vh;
    width: 100vw;
    background-image: url(assets/IN-en-20260622-TRIFECTA-perspective_d39d60ef-cb5a-4793-9546-0a8d9a87948e_large.jpg);
    ;


}

.bg1 {
    height: 80vh;
    width: 100vw;
}

.signin {
    background-color: #e50914;
    height: 35px;
    width: 75px;
    border-radius: 5px;
    color: white;
    font-size: medium;
    font-weight: 550;
    border-color: #0a0909;
    filter: contrast(200%) brightness(200%);

}

.nav {
    display: flex;
    gap: 10px;
    transform: translateX(140px);
    align-items: center;

}

.symbol {
    height: 15px;
    width: 15px;
    z-index: 10;
    transform: translateX(-215px);
    filter: invert(1);

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    height: 40vh;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    transform: translateY(-80px);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    transform: translateY(-60px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content4 {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 60px;
}

.typebox {
    width: 350px;

    border-radius: 5px;
    background-color: black;
    color: white;
    opacity: 0.8;
    font-size: medium;

}

.started {
    width: 200px;

    background-color: #e50914;
    border-radius: 5px;
    color: white;
    font-size: 23px;
    font-weight: 300;
    border-color: #0a0909;
    border: 4px;
    filter: contrast(200%) brightness(200%);
}

.content7 {
    font-size: 26px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.elip {
    transform: translateY(-100px);
    filter: brightness();
    height: 100px;
}

.body {
    overflow-x: hidden;
    overflow-y: auto;
}

.images {
    display: flex;
    justify-content: right;
    margin-top: 25px;
    height: 250px;
    width: 97%;
    margin-bottom: 75px;
}

.imgg {
    border-radius: 16px;
}

.img6 {
    width: 50px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    object-position: 1px;
}

.num {
    font-size: 6.25rem;
    font-family: sans-serif;
    z-index: 2;
    transform: translate(-200px, 130px);
    font-weight: 700;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
}

.num6 {
    transform: translate(-60px, 130px);
}

.button {
    height: 120px;
    margin-top: 60px;
    transform: translateX(-45px);
    width: 25px;
    border-radius: 10px;
    background-color: #1a1a1a;
    border: #1a1a1a;
    font-size: 27px;
    color: rgb(180, 177, 173);
}

.content8 {
    width: 100%;
    object-fit: scale-down;
    transform: scaleY(0.8) translateY(-90px) scaleX(1.1);
}

.content10 {
    transform: translateY(-120px);
}

.content11 {
    color: aliceblue;
    height: 90px;
    width: 1220px;
    border: 4px #2d2d2d;
    background-color: #2d2d2d;
    margin-left: 160px;
    font-size: 28px;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;

}

.content13 {
    color: aliceblue;
    height: 90px;
    width: 1220px;
    border: 4px #2d2d2d;
    background-color: #2d2d2d;
    margin-left: 160px;
    margin-top: 10px;
    font-size: 28px;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
    justify-content: space-between;
}

.content14 {
    color: aliceblue;
    height: 90px;
    width: 1220px;
    border: 4px #2d2d2d;
    background-color: #2d2d2d;
    margin-left: 160px;
    margin-top: 10px;
    font-size: 28px;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
    justify-content: space-between;
}

.content15 {
    color: aliceblue;
    height: 90px;
    width: 1220px;
    border: 4px #2d2d2d;
    background-color: #2d2d2d;
    margin-left: 160px;
    margin-top: 10px;
    font-size: 28px;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
    justify-content: space-between;
}

.content16 {
    color: aliceblue;
    height: 90px;
    width: 1220px;
    border: 4px #2d2d2d;
    background-color: #2d2d2d;
    margin-left: 160px;
    margin-top: 10px;
    font-size: 28px;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
    justify-content: space-between;
}

.content17 {
    color: aliceblue;
    height: 90px;
    width: 1220px;
    border: 4px #2d2d2d;
    background-color: #2d2d2d;
    margin-left: 160px;
    margin-top: 10px;
    font-size: 28px;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
    justify-content: space-between;
}

.content12 {
    transform: translateY(-100px);  
}
.content18{filter: invert(1);
height: 32px;
margin-right: 32px;}